########################################## # PARAMETERS ########################################## 
## @parameter test
## @type string
## @doc the test to be performed. For transform 
## application to a new volume, use "apply"
## @todo rename to "operation"
test apply


## @parameter command[*]
## @type string
## @doc A command line option which is tied to the 
## switch given by *
## @example
## command[-i] apply.inputfile
command[-i] apply.inputfile
command[-t] apply.cachefile
command[-n] apply.transform


## @parameter apply.cachefile
## @type filename
## @doc which tranformation to apply, as stored in the congealing
## cache-file format
## @example
## apply.cachefile ../output/congeal-Good3TierResults-2011.05.16.11.15/out004.cache
apply.cachefile ../output/congeal-Good3TierResults-2011.05.16.11.15/out004.cache


## @parameter apply.transform
## @type integer
## @doc which transform to apply to the new volume, 
## corresponding to the inputs into the original congealing run.
## Indicies start at 0.
## @example
## apply.transform 0
apply.transform 0

## @parameter apply.inputfile
## @type string
## @doc the new source volume to which the transformation should be applied
## @example
## apply.inputfile ../input/oasisNifti/OAS1_0001_MR1_norm_float.nii
apply.inputfile ../input/oasisNifti/OAS1_0001_MR1_norm_float.nii

## @parameter apply.inputfile.format 
## @type string 
## @doc format of input files. Currently only 'nifti' is supported 
apply.inputfile.format nifti

## @parameter apply.output.path
## @type string 
## @doc directory into which outputfiles are saved. This value can 
## include an absolute or relative path. Should end in a slash 
## @example 
## apply.output.path ../output/apply/
apply.output.path ../output/apply/

## @parameter apply.output.prefix 
## @type string 
## @doc string prepended to the filenames of the outputfiles 

## @example 
## apply.output.prefix run12- 
apply.output.prefix out

apply.output.colors.mid 128
apply.output.colors.range 256
apply.output.slice .5
apply.output.width 512
apply.output.height 512

