test apply

command[-i] apply.inputfile
command[-t] apply.cachefile
command[-n]	apply.transform


apply.cachefile ../output/congeal-Good3TierResults-2011.05.16.11.15/out004.cache
apply.transform 0
apply.inputfile ../input/oasisNifti/OAS1_0001_MR1_norm_float.nii
apply.inputfile.format nifti

apply.output.prefix ../output/apply/
apply.output.colors.mid 128
apply.output.colors.range 256
apply.output.slice .5
apply.output.width 512
apply.output.height 512



